@media screen and (max-width:800px) {
  .column, .row, .alignment, .left, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

body{
    
    background-color: #FFFFFF;
    color: #666666;
    font-family: "sans-serif",verdana,arial;
    border-right: 5px solid #333;
    -webkit-box-shadow: 5px 0 5px -2px #888;
/*          box-shadow: 10px 0 5px -2px #888;*/
/*    box-shadow: 5px 5px 10px black;*/
/*    box-shadow: 5px black;*/
}
h1{
    line-height: 200%;
    background: linear-gradient(to right, #002464, #a5c3f7);
    /*color: #000033;*/
    color: white;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
    /*background-image: url("gradientblue.jpg");*/
}
h2{
    color: #3399cc;
    font-family: Georgia,"serif";
}
img{
    width: 100%;
    height: auto;
}                                                                     
nav{
    padding: 20px 0;
    display: block;
    font-weight: bold;
    background-color: #90C7E3;
    word-spacing: 5pt;
}
#copyright{
    font-size: .70em;
    font-style: italic;
    text-align: center;
}
#wrapper{
    margin: auto;
    width: 80%;
}
#baseline{
    background-color: #3399cc;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
/*    padding: 10px;*/
/*    height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.alignment{
    padding-left: 25px;
}
.row{
    background-color: #90C7E3;
      border-bottom: 5px solid #333;
}


.left {
  width: 20%;
    padding-top: 20px;
    padding-left: 10px;
    text-decoration: none;
}

.right {
  width: 80%;
    background-color: white;
}
#nav a{
    padding-top: 50px;
    padding-left: 25px;
    text-decoration: none;
    font: bold 20px Georgia, serif;
    color: #293958;
    font-style: bold;
    text-align: center;
    
}