@media only screen and (max-width:650px) {
  .column {
    float: left;
    width: 50%;
    text-decoration: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.alignment{
    padding-left: 25px;
}
input{
        width: 100px;
}
.row{
    
      border-bottom: 5px solid #333;
}
.banner{
    background-color: #90C7E3;
    outline-offset: 10px;
    padding-top: 5px;
}

.left {
    width: 20%;
    padding-top: 10px;
background-color: #90C7E3;
/*    padding-left: 5px;*/
}

.left a{
    text-decoration: none;
/*    font-weight: bold;*/
}

.right {
    width: 80%;
/*    background-color: white;*/
}
nav{
    padding-top: 10px;
    height: 87vh;
    padding-left: 2px;
    text-decoration: none;
    font: bold 12px sans-serif;
    color: #293958;
    font-style: bold;
    background-color: #90C7E3;
}

table{
    border-spacing: 0px;
    
}

label:before{
    text-align: left;
    padding-right: 10px;
    content: "*";
}
.required:before{
    content: none;
}
* {
    box-sizing: border-box;
}
.container{
    text-align: left;
    padding: 15px;
}
footer{
    font-size: .70em;
    font-style: italic;
    text-align: center;
    position: fixed;
    left: 38vw;
    bottom: 3vh;
}
td{
    padding-right: 10px;
}
}







/*
.column, .row, .alignment, .left, .right {
    width:100%;  The width is 100%, when the viewport is 800px or smaller 
  }
*/
@media only screen and (min-width:650px) {
  .column {
    float: left;
    width: 50%;
    text-decoration: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.alignment{
    padding-left: 25px;
}
.row{
      border-bottom: 5px solid #333;
}
.banner{
    background-color: #90C7E3;
    outline-offset: 10px;
    padding-top: 5px;
}

.left {
    width: 20%;
    background-color: #90C7E3;
    padding-top: 20px;
    padding-left: 10px;
}

.left a{
    text-decoration: none;
/*    font-weight: bold;*/
}

.right {
  width: 80%;
    background-color: white;
}
nav{
    padding-top: 10px;
    padding-left: 5px;
    text-decoration: none;
    font: bold 20px sans-serif;
    color: #293958;
    font-style: bold;
    height: 87vh;
}

table{
    border-spacing: 0px;
    
}

label:before{
    text-align: left;
    padding-right: 10px;
    content: "*";
}
.required:before{
    content: none;
}

* {
    box-sizing: border-box;
}
.container{
/*    border-radius: 5px;*/
    text-align: left;
    padding: 15px;
}
footer{
    font-size: .70em;
    font-style: italic;
    text-align: center;
    position: fixed;
    left: 45vw;
    bottom: 3vh;
}
td{
    padding-right: 50px;
}
}













@media only screen and (min-width:1000px) {
  .column {
    float: left;
    width: 50%;
    text-decoration: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.alignment{
    padding-left: 25px;
}
.row{
      border-bottom: 5px solid #333;
}
.banner{
    background-color: #90C7E3;
    outline-offset: 10px;
    padding-top: 5px;
}

.left {
    background-color: #90C7E3;
    width: 20%;
    padding-top: 20px;
    padding-left: 10px;
}

.left a{
    text-decoration: none;
/*    font-weight: bold;*/
}

.right {
  width: 80%;
    background-color: white;
}
nav{
    padding-top: 10px;
    padding-left: 15px;
    text-decoration: none;
    font: bold 20px sans-serif;
    color: #293958;
    font-style: bold;
    height: 87vh;
}

table{
    border-spacing: 0px;
    
}

label:before{
    text-align: left;
    padding-right: 10px;
    content: "*";
}
.required:before{
    content: none;
}
* {
    box-sizing: border-box;
}
.container{
/*    border-radius: 5px;*/
    text-align: left;
    padding: 15px;
}
footer{
    font-size: .70em;
    font-style: italic;
    text-align: center;
    position: fixed;
    left: 50vw;
    bottom: 3vh;
}
td{
    padding-right: 50px;
}
}








body{
    
    background-color: #FFFFFF;
    color: #666666;
    font-family: "sans-serif",verdana,arial;
    border-right: 5px solid #333;
    -webkit-box-shadow: 5px 0 5px -2px #888;
}

h1{
    line-height: 200%;
    background: linear-gradient(to right, #002464, #a5c3f7);
    color: white;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}
h2{
    color: #3399cc;
    font-family: Georgia,"serif";
}
img{
    width: 100%;
    height: auto;
}                                                                     
/*
nav{
    padding: 20px 0;
    display: block;
    font-weight: bold;
    background-color: #90C7E3;
    word-spacing: 5pt;
}
*/

#wrapper{
    margin: auto;
    width: 80%;
}
#baseline{
    background-color: #3399cc;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}

/*
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-left: 0%;
}
*/


#common {
    padding-inline-start: 0px;
    padding: 0px 0px 0px 0px;
}
